

<%= render partial: 'shared/branding_modal_header' %>

<div class="container mt-4 mb-5">
  <div class="container text-white bg-primary rounded-5 text-center pt-2 pb-2" style="width:350px;">
    <h4 class=""><%= @all_users.size %> users registered</h4>
    <% @all_users.each do |user| %>
      <h5><%= user.email  %></h5>
    <% end %>
  </div>
</div>

<section class="bg-light py-4 my-5">
  <div 
    data-controller="geolocation" 
    class="container"
    data-latitude="<%= current_user&.profile&.latitude %>"
    data-longitude="<%= current_user&.profile&.longitude %>"
  >
    <div class="row">
      <% @all_properties.each do |property| %>
        <div class="col-md-6 col-lg-3">
          <div class="card my-3">
            <%= js_map [{latitude: property.latitude, longitude: property.longitude}], height: "200px", zoom: 6, controls: true  %>
            <img src="https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg" class="card-image-top"  alt="thumbnail">
            <div class="card-body">
              <h6 class="card-title">
                <%= property.city %>, <%= property.state %>, <%= property.country %>
              </h6>
              <div class="card-details mb-1">latitude: <%= property.latitude %></div>
              <div class="card-details mb-1">longitude: <%= property.longitude %></div>
              <div class="card-details mb-1">
                  <%=Geocoder::Calculations.distance_between([property.latitude,property.longitude], [current_user&.profile&.latitude,current_user&.profile&.longitude]).round(0) %> (km/mi) away
              </div>
              <div class="card-details mb-1">Jun 19 - Jul 22</div>
              <div class="card-details mb-3">$212 per night</div>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>

<section class="bg-light py-4 my-5">
  <h1>mapbox</h4>
  <div>
    <%= js_map [{latitude: 51.507351, longitude: -0.127758}], height: "350px", zoom: 6, controls: true %>
  </div>

  <h1>google map</h1>
  <div data-controller="google-map">
    <div id="map" style="width:100%;height:calc(100vh - 116px);;" data-google-map-target="myMap"></div>
  </div>
</section>

