

<%= render partial: 'shared/branding_modal_header' %>

<div class="container mt-4 mb-5">
  <div class="container mb-5 text-white bg-primary rounded-5 text-center" style="width:400px;">
    <h4 class=""><%= @all_users.size %> users registered</h4>
  </div>
</div>

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <% @all_properties.each do |property| %>
              <div class="col-md-6 col-lg-3">
                  <div class="card my-3">
                      <img src="https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg" class="card-image-top"  alt="thumbnail">
                      <div class="card-body">
                          <h5 class="card-title"><%= property.city %>, <%= property.state %>, <%= property.country %></h5>
                          <div class="card-details mb-1">7,333 km away</div>
                          <div class="card-details mb-1">Jun 19 - Jul 22</div>
                          <div class="card-details mb-3">$212 per night</div>
                          <a href="#" class="btn btn-primary">Read More</a>
                      </div>
                  </div>
              </div>
            <% end %>
        </div>
    </div>
</section>

